<%- include( './head' ) %>

<section class="home">
	<div class="show">
		<h1 class="show normal">
			<div><div>Front End Developer</div></div>
			<div><div>Servin Nissen</div></div>
	       </h1>
		<p>Hey ik ben Servin, een Front End Developer uit Alkmaar. Met een passie/obsessie voor code en mooie animaties. Vind hier wat van mijn school werk en vrije tijds geklooi.</p>
	</div>
	<article class="small">
		<h1>
			<div><div>About</div></div>
			<div><div>Servin</div></div>
		</h1>
		<p>A Front End Developer who is passionate about all things web. Currently I am attending the <a href="https://www.cmd-amsterdam.nl/">Communication and Multimedia Design</a> study at the Amsterdam University of Applied Sciences. I found my love/interest/drive for Web Development at my previous study where I first got exposed to code. I enjoy working with the latest in web technologies, with 3D and Node.js being my current interests.</p>
	</article>
</section>

<section class="home">
	<a href="/" class="close"></a>
	<a style="max-width:400px; margin-left: auto; margin-right: auto;">
		<header>
			<span></span>
			<span></span>
			<span></span>
		</header>
		<img src="../img/me.jpg" alt="Servin" />
	</a>
</section>

<%- include( './footer' ) %>
