
.hack {
	position: fixed;
	display: block;
	top: 0%;
	left: 0%;
	width: 50vw;
	height: 100vh;
	background-color: $gray;
	transform-origin: top left;
}

body:not( .sub ) .home{
	overflow-y: initial;

	&:nth-of-type( 1 ) {
		margin: 5em auto;

		@media ( min-width: 1100px ) {
			margin: 0 auto;
		}
	}
	&:nth-of-type( 2 ) {
		margin: 5em auto;

		@media ( max-width: 850px ) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}

.home {
	&:nth-of-type( 1 ) {
		transform: translate( 0%, 0 );

		h1 div div {
			transform: translateY(0)!important;
		}
		:not( h1 ) {
			opacity: 1;
		}
	}
	&:nth-of-type( 2 ) .work{
		opacity: 1;
	}
}
.sub {
	.home {
		&:nth-of-type( 1 ) {
			> div {
				display: none;
			}
			article {
				display: block;
				overflow: visible;

				h1 div div {
					transform: translateY( 0 )!important;
				}
				:not( h1 ) {
					opacity: 1;
					transform: translate( 0, 0 );
				}
			}
		}
	}
}