article footer {
	color: #9da1aa;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 900;

	p {
		display: inline-block;
		font-size: 14px;
		font-weight: 900;
		margin: 0 15px 1rem 0;
	}

	div {
		max-width: 290px;
		display: inline-block;
	}

	a {
		vertical-align: top;
	}
}
